.background-selector-video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &.hidden {
    display: none;
  }
}

.background-selector-enabled {
  .page__inner,
  .article__inner,
  .block__inner,
  .component__inner {
    position: relative;
  }

  .menu__header {
    position: relative;
    z-index: 1;
  }

  .background-selector-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.menu {
  &.background-selector-enabled {
    position: relative;
    overflow: hidden;
  }
}
